<div class="row">
    <div class="col-md-12">
        <nb-card
            class="col-md-12 col-lg-12"
            [nbSpinner]="loading"
            nbSpinnerStatus="info"
            nbSpinnerSize="medium"
        >
            <nb-card-header>
                <div class="clearfix" *ngIf="factura">
                    <p class="h6 float-left" *ngIf="folio !== '*'">
                        PREFOLIO : {{ factura?.preFolio }} - FOLIO : {{ factura?.folio }}
                    </p>
                    <p *ngIf="folio == '*'" class="h6 float-left">
                        Pre CFDI linea {{ LINEAEMISOR }}
                    </p>
                    <nt-invoice-status
                        class="float-right"
                        *ngIf="folio !== '*'"
                        [status]="factura?.statusFactura"
                    ></nt-invoice-status>

                    <button
                        nbButton
                        status="success"
                        size="small"
                        (click)="revalidateInvoice()"
                        [nbSpinner]="loading"
                        class="float-right ml-1 mr-1"
                        [disabled]="loading"
                        nbSpinnerStatus="success"
                        *ngIf="
                            factura?.statusFactura == '6' ||
                            factura?.statusFactura == '5'
                        "
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        Revalidar Factura<i
                            class="fa fa-check"
                            style="margin-left: 10px"
                        ></i>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="folio === '*' && !factura.folio">
                    <p class="font-weight-bold">
                        Información Emisor y Receptor
                    </p>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputGiro" class="label"
                                    >Giro Empresa</label
                                >
                                <select
                                    id="inputGiro"
                                    fullWidth
                                    class="form-control"
                                    (change)="
                                        onGiroSelection($event.target.value)
                                    "
                                    style="display: block"
                                    [(ngModel)]="formInfo.giro"
                                >
                                    <option value="*">Seleccionar</option>
                                    <option
                                        *ngFor="let giro of girosCat"
                                        [(value)]="giro.id"
                                    >
                                        {{ giro.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmpresa" class="label"
                                >Empresa</label
                            >
                            <select
                                id="inputEmpresa"
                                class="form-control"
                                (change)="
                                    onCompanySelected($event.target.value)
                                "
                                [(ngModel)]="formInfo.empresa"
                                style="display: block"
                                fullWidth
                                [disabled]="companiesCat.length === 0"
                            >
                                <option value="*">Seleccionar</option>
                                <option
                                    *ngFor="let company of companiesCat"
                                    [(value)]="company.id"
                                >
                                    {{ company.rfc }}-{{ company.razonSocial }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="inputCliente" class="label"
                                >Nombre o razon social del cliente</label
                            >
                            <ng-autocomplete
                                [data]="clientsCat"
                                [searchKeyword]="'razonSocial'"
                                placeholder="Escribe el nombre o razon social del cliente"
                                (selected)="onClientSelected($event)"
                                [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate"
                            >
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <div class="item">
                                    <span [innerHTML]="item.razonSocial" class="d-inline"> </span> - <p class="d-inline">{{item.correoPromotor}}</p>
                                </div>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <span>No hay coincidencias</span>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <nt-cfdi
                    [allowEdit]="
                        factura?.tipoDocumento !== 'Complemento' &&
                        (factura?.folio === undefined ||
                            factura?.statusFactura == 1 ||
                            factura?.statusFactura == 2 ||
                            factura?.statusFactura == 4)
                    "
                >
                </nt-cfdi>

                <div
                    class="row"
                    *ngIf="
                        factura?.cfdi &&
                        factura?.statusDetail &&
                        factura?.statusDetail.length > 0
                    "
                >
                    <div class="col-sm-12">
                        <label for="inputdesc" class="label"
                            >Descripción Rechazo CFDI</label
                        >
                        <div class="alert alert-danger" role="alert">
                            {{ factura.statusDetail }}
                        </div>
                    </div>
                </div>

                <br />

                <div
                    class="row"
                    *ngIf="!factura?.folio && factura?.cfdi.total > 0"
                >
                    <button
                        nbButton
                        status="success"
                        size="medium"
                        (click)="solicitarCfdi()"
                        [nbSpinner]="loading"
                        [disabled]="loading"
                        nbSpinnerStatus="success"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        SOLICITAR CFDI
                    </button>
                    <!--button type="button" class="btn btn-info" (click)="limpiarForma()">LIMPIAR</button-->
                </div>
                <div
                    class="clearfix"
                    class="buttons-row"
                    *ngIf="factura?.folio !== undefined"
                >
                    <button
                        nbButton
                        status="success"
                        size="medium"
                        (click)="timbrarFactura(factura, dialog)"
                        class="mr-2 ml-2 float-right"
                        [nbSpinner]="loading"
                        [disabled]="loading"
                        *ngIf="factura?.statusFactura == '4'"
                        nbSpinnerStatus="success"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        Timbrar
                    </button>
                    <button
                        class="mr"
                        nbButton
                        status="success"
                        size="medium"
                        (click)="aceptarFactura()"
                        class="mr-2 ml-2 float-right"
                        [nbSpinner]="loading"
                        [disabled]="loading"
                        *ngIf="factura?.statusFactura == '1'"
                        nbSpinnerStatus="success"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        Aceptar
                    </button>

                    <button
                        class="ml"
                        nbButton
                        status="danger"
                        size="medium"
                        (click)="rechazarFactura(factura, rejectDialog)"
                        class="mr-2 ml-2 float-right"
                        [nbSpinner]="loading"
                        [disabled]="loading"
                        *ngIf="
                            factura?.statusFactura == '1' ||
                            factura?.statusFactura == '2' ||
                            factura?.statusFactura == '4'
                        "
                        nbSpinnerStatus="danger"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        Rechazar
                    </button>

                    <button
                        nbButton
                        status="success"
                        size="medium"
                        (click)="revalidateInvoice()"
                        [nbSpinner]="loading"
                        class="float-right ml-2 mr-2"
                        [disabled]="loading"
                        nbSpinnerStatus="success"
                        *ngIf="
                            factura?.statusFactura == '6' ||
                            factura?.statusFactura == '5'
                        "
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        revalidar Factura<i
                            class="fa fa-check"
                            style="margin-left: 10px"
                        ></i>
                    </button>

                    <button
                        class="mr"
                        nbButton
                        status="danger"
                        size="medium"
                        class="mr-2 ml-2 float-right"
                        (click)="cancelarFactura(factura, cancelDialog)"
                        [nbSpinner]="loading"
                        [disabled]="loading"
                        *ngIf="factura?.statusFactura == '3'"
                        nbSpinnerStatus="danger"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                    >
                        Cancelar
                    </button>
                    <button
                        class="mr"
                        nbButton
                        status="warning"
                        size="medium"
                        (click)="linkInvoice(factura)"
                        class="mr-2 ml-2 float-right"
                        [nbSpinner]="loading"
                        [disabled]="loading || factura.folioRelacionado"
                        nbSpinnerStatus="danger"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                        *ngIf="
                            factura?.statusFactura == '3' &&
                            factura?.tipoDocumento === 'Factura' &&
                            !factura?.folioRelacionado
                        "
                    >
                        Sustituir Factura
                    </button>

                    <button
                        class="mr"
                        nbButton
                        status="warning"
                        size="medium"
                        class="mr-2 ml-2 float-right"
                        (click)="generateCreditNoteInvoice(factura)"
                        [nbSpinner]="loading"
                        [disabled]="loading || factura?.folioRelacionado"
                        nbSpinnerStatus="danger"
                        nbSpinnerSize="small"
                        nbSpinnerMessage=""
                        *ngIf="
                            factura?.statusFactura == '3' &&
                            factura?.tipoDocumento === 'Factura' &&
                            !factura?.folioRelacionado
                        "
                    >
                        Nota de crédito
                    </button>
                </div>
                <br />

                <nt-pago-factura
                    *ngIf="
                        factura?.folio != undefined &&
                        factura?.statusFactura != '6' &&
                        factura?.statusFactura != '7'
                    "
                ></nt-pago-factura>

                <ngx-generar-complemento
                    *ngIf="
                        factura?.statusFactura == '3' &&
                        factura?.lineaEmisor !== 'A' &&
                        factura?.folio !== '*'
                    "
                ></ngx-generar-complemento>
            </nb-card-body>
            <nb-card-footer>
                <div class="clearfix" *ngIf="factura?.folio">
                    <strong class="float-left"> Promotor : {{factura?.solicitante}}</strong>
                    <strong class="float-right"> Fecha solicitud : {{factura?.fechaCreacion}}</strong>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>

<ng-template #rejectDialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Indique el motivo de rechazo</nb-card-header>
        <nb-card-body>
            <div class="row" style="width: 300 px">
                <div class="col-sm-12" *ngIf="factura">
                    <input
                        id="statusDetail"
                        class="form-control"
                        fullWidth
                        type="text"
                        placeholder="Motivo rechazo factura"
                        [(ngModel)]="data.statusDetail"
                    />
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-warning" (click)="ref.close(undefined)">
                Salir
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" (click)="ref.close(data)">
                Rechazar CFDI
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #cancelDialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Seleccione motivo de cancelacion</nb-card-header>
        <nb-card-body>
            <div class="row" style="width: 300 px">
                <div class="col-sm-12">
                    <label for="inputMotivo" class="label"
                        >Motivo cancelación</label
                    >
                    <select
                        id="inputMotivo"
                        fullWidth
                        class="form-control"
                        style="display: block"
                        [(ngModel)]="data.motivo"
                    >
                        <option value="01">
                            Comprobante emitido con errores con relación
                        </option>
                        <option value="02">
                            Comprobante emitido con errores sin relación
                        </option>
                        <option value="03">
                            No se llevó a cabo la operación
                        </option>
                        <option value="04">
                            Operación nominativa relacionada en la factura
                            global
                        </option>
                    </select>
                </div>
                <div class="col-sm-12" *ngIf="data.motivo == '01'">
                    <label for="inputCfdiRelacionado" class="label"
                        >UUID relacionado</label
                    >
                    <input
                        id="inputCfdiRelacionado"
                        type="text"
                        [(ngModel)]="data.folioSustituto"
                        fullWidth
                        class="form-control"
                        placeholder="Folio folioSustituto"
                    />
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-warning" (click)="ref.close(undefined)">
                Salir
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" (click)="ref.close(data)">
                Cancelar CFDI
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
        <nb-card-body>
            <div class="row" style="width: 300 px">
                <div class="col-sm-12">
                    <label for="inputGiro" class="label"
                        >Pack de facturacion</label
                    >
                    <select
                        id="inputGiro"
                        fullWidth
                        class="form-control"
                        style="display: block"
                        [(ngModel)]="data.packFacturacion"
                    >
                        <option value="NTLINK">NT LINK</option>
                    </select>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-warning" (click)="ref.close(undefined)">
                Salir
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-success" (click)="ref.close(data)">
                Timbrar
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>
