
<div class="row mr-1 ml-1 mt-2 mb-2">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center w-25">
            ACCIONES
          </th>
          <th scope="col" class="text-center w-25">TIPO</th>
          <th scope="col" class="text-center w-25">NOTAS</th>
          <th scope="col" class="text-center w-25">MONTO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of pagos; let i = index">
          <td scope="row" class="text-center">
            <button class="btn btn-sm mr-1 ml-1" [ngClass]="{'btn-outline-danger': allowEdit , 'btn-outline-secondary':!allowEdit}" [disabled]="!allowEdit">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm mr-1 ml-1" [ngClass]="{'btn-outline-primary': allowEdit , 'btn-outline-secondary':!allowEdit}" [disabled]="!allowEdit">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td scope="row" class="text-right">
            {{fila.formaPago}}
          </td>
          <td scope="row" class="text-right">
            {{fila.notas}}
          </td>
          <td scope="row" class="text-right">
            {{ fila.monto | currency}}
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="btn btn-sm rounded-circle" [ngClass]="{'btn-primary': allowEdit && pendingAmount > 0.01 , 'btn-secondary':!allowEdit || pendingAmount < 0.01  }" [disabled]="!allowEdit || pendingAmount < 0.01"
            (click)="addReturnPayment(dialog)" data-toggle="tooltip"  title="Agregar detalles devolución">
            <i class="fa fa-plus"></i></button>
          </td>
          <td></td>
          <td><strong>Monto devolución</strong></td>
          <td scope="row" class="text-right"><strong>{{amount | currency}}</strong></td>
        </tr>
        <tr *ngIf="type === 'CLIENTE'">
          <td colspan="2"></td>
          <td><strong>Pasivo</strong></td>
          <td scope="row" class="text-right">{{return.pasivoCliente | currency }}</td>
        </tr>
        <tr *ngIf="type === 'CLIENTE'">
          <td colspan="2"></td>
          <td><strong>Comisión Cliente</strong></td>
          <td scope="row" class="text-right">{{return.comisionCliente | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="clearfix">
        <p class="h6 float-left">
          ASIGNACION PAGO DEVOLUCIÓN
        </p>
      </div>
    </nb-card-header>
    <br />
    <nb-card-body>
      <div>
        
          <div class="form-group row">
            <label for="inputPaymentType" class="label col-sm-3 col-form-label">Tipo de pago</label>
            <div class="col-sm-9">
              <select
              id="inputPaymentType"
              class="form-control"
              [(ngModel)]="data.formaPago"
            >
              <option value="TRANSFERENCIA">Transferencia interbancaria</option>
              <option value="EFECTIVO">Pago en efectivo</option>
              <option value="NOMINA">Pago múltiple (nómina)</option>
              <option value="PENDIENTE">Guardar saldo (pago pendiente)</option>
            </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputNotes" class="label col-sm-3 col-form-label">Notas</label>
            <div class="col-sm-9">
              <textarea type="text" id="inputNotes" class="form-control" fullWidth [(ngModel)]="data.notas"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAmount" class="col-sm-3 label">Monto</label>
            <div class="col-sm-9">
              <input type="number" id="inputAmount" class="form-control" fullWidth [(ngModel)]="data.monto"/>
            </div>
          </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="clearfix">
        <button class="btn btn-warning btn-sm ml-1 mr-1 float-right" (click)="closeDialog(ref)">Salir</button>
        <button class="btn btn-success btn-sm ml-1 mr-1 float-right" (click)="closeDialog(ref, data)">Agregar
          devolución</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>