<div class="row">
    <div class="col-md-12">
        <nb-card
            [nbSpinner]="loading"
            nbSpinnerStatus="info"
            nbSpinnerSize="giant"
        >
            <nb-card-header>
                <div class="clearfix">
                    <strong class="float-left">
                        <h6>Solicitud de soporte</h6>
                    </strong>

                    <div class="float-right" *ngIf="folio !== '*'">
                        <h6>
                            <span
                                class="badge badge-warning float-right"
                                *ngIf="status.value === 'PENDIENTE'"
                                >{{ status.value }}</span
                            >
                            <span
                                class="badge badge-primary float-right"
                                *ngIf="status.value === 'VALIDACION'"
                                >{{ status.value }}</span
                            >
                            <span
                                class="badge badge-primary float-right"
                                *ngIf="status.value === 'EN PROGRESO'"
                                >{{ status.value }}</span
                            >
                            <span
                                class="badge badge-success float-right"
                                *ngIf="status.value === 'FINALIZADO'"
                                >{{ status.value }}</span
                            >
                        </h6>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-6 col-md-9 mb-3">
                        <div *ngIf="folio === '*'">
                            <p>
                                Cuentas con algun problema en la plataforma,
                                puedes notificarnos por este medio, solo ingresa
                                los datos solicitados, para atender su
                                solicitud, no olvides colocar cualquier
                                referencia relevante al problema, como es folio,
                                prefolio y modulo donde se origino el problema
                            </p>
                        </div>
                        <form
                            [formGroup]="supportForm"
                            class="needs-validation"
                            novalidate=""
                            (ngSubmit)="onSubmit()"
                        >
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="contactname"
                                        class="label col-form-label"
                                        >Nombre de contacto</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control text-uppercase"
                                        id="contactname"
                                        [attr.disabled]="true"
                                        placeholder="Su nombre"
                                        formControlName="contactName"
                                        name="contactname"
                                    />
                                    <ng-container *ngIf="contactName.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="contactName.errors?.required"
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                contactName.errors?.maxlength
                                            "
                                        >
                                            El campo excede el numero máximo de
                                            caracteres permitidos
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="contactName.errors?.pattern"
                                        >
                                            El nombre contiene algun caracter
                                            invalido
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="contactEmail"
                                        class="label col-form-label"
                                        >Email contacto</label
                                    >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                >@</span
                                            >
                                        </div>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="contactEmail"
                                            [attr.disabled]="true"
                                            placeholder="Email del cliente"
                                            formControlName="contactEmail"
                                            name="contactEmail"
                                            name="contactEmail"
                                        />
                                        <ng-container
                                            *ngIf="contactEmail.invalid"
                                        >
                                            <small
                                                class="form-text text-danger"
                                                *ngIf="
                                                    contactEmail.errors
                                                        ?.required
                                                "
                                            >
                                                ¡Campo Requerido!
                                            </small>
                                            <small
                                                class="form-text text-danger"
                                                *ngIf="
                                                    contactEmail.errors?.email
                                                "
                                            >
                                                Se require de un correo valido
                                            </small>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="contactPhone"
                                        class="label col-form-label"
                                        >Tel&eacute;fono de contacto</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="contactPhone"
                                        [attr.disabled]="
                                            folio !== '*' ? true : null
                                        "
                                        placeholder="Tel&eacute;fono de contacto"
                                        formControlName="contactPhone"
                                        name="contactPhone"
                                    />
                                    <ng-container *ngIf="contactPhone.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                contactPhone.errors?.required
                                            "
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="contactPhone.errors?.pattern"
                                        >
                                            El telefono no es valido
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="supportType"
                                        class="label col-form-label"
                                        >Tipo de Soporte</label
                                    >
                                    <select
                                        class="custom-select d-block w-100"
                                        id="supportType"
                                        name="supportType"
                                        [attr.disabled]="
                                            folio !== '*' ? true : null
                                        "
                                        formControlName="supportType"
                                    >
                                        <option value="*">SELECCIONAR</option>
                                        <option value="NO PERMITE TIMBRAR">
                                            NO PERMITE TIMBRAR
                                        </option>
                                        <option value="CARGA DE SELLOS">
                                            CARGA DE SELLOS
                                        </option>
                                        <option
                                            value="ESTATUS FACTURA INVALIDO"
                                        >
                                            ESTATUS FACTURA INVALIDO
                                        </option>
                                        <option
                                            value="INCOSISTENCIAS EN EL CFDI"
                                        >
                                            INCOSISTENCIAS EN EL CFDI
                                        </option>
                                        <option
                                            value="EL PDF TIENE INCOSISTENCIAS"
                                        >
                                            EL PDF TIENE INCOSISTENCIAS
                                        </option>
                                        <option value="NO ME PERMITE CANCELAR">
                                            NO ME PERMITE CANCELAR
                                        </option>
                                        <option
                                            value="FACTURA/COMPLEMENTO DOLARES"
                                        >
                                            FACTURA/COMPLEMENTO DOLARES
                                        </option>
                                        <option value="NO ENVIA CORREO">
                                            NO ENVIA CORREO
                                        </option>
                                        <option value="OTRO">OTRO</option>
                                    </select>
                                    <ng-container *ngIf="supportType.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                supportType.errors?.minlength
                                            "
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label
                                        for="module1"
                                        class="label col-form-label"
                                        >Módulo</label
                                    >
                                    <select
                                        class="custom-select d-block w-100"
                                        id="module1"
                                        name="module"
                                        *ngIf="folio === '*'"
                                        formControlName="module"
                                    >
                                        <option value="*">SELECCIONAR</option>
                                        <option
                                            *ngFor="let module of modules"
                                            [value]="module"
                                        >
                                            {{ module }}
                                        </option>
                                    </select>
                                    <select
                                        class="custom-select d-block w-100"
                                        name="module"
                                        *ngIf="folio !== '*'"
                                        [attr.disabled]="true"
                                        formControlName="module"
                                    >
                                        <option value="OPERADOR">
                                            OPERADOR
                                        </option>
                                        <option value="PROMOTOR">
                                            PROMOTOR
                                        </option>
                                        <option value="TESORERIA">
                                            TESORERIA
                                        </option>
                                        <option value="CONTABILIDAD">
                                            CONTABILIDAD
                                        </option>
                                        <option value="CONSULTAS">
                                            CONSULTAS
                                        </option>
                                        <option value="LEGAL">LEGAL</option>
                                        <option value="BANCOS">BANCOS</option>
                                        <option value="ADMINISTRACION">
                                            ADMINISTRACION
                                        </option>
                                        <option value="OPERADOR-B">
                                            OPERADOR-B
                                        </option>
                                        <option value="OPERADOR-C">
                                            OPERADOR-c
                                        </option>
                                        <option value="SOPORTE">
                                            TESORERIA
                                        </option>
                                    </select>
                                    <ng-container *ngIf="module.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="module.errors?.minlength"
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label
                                        for="problem"
                                        class="label col-form-label"
                                        >Describe el problema</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="problem"
                                        [attr.disabled]="
                                            folio !== '*' ? true : null
                                        "
                                        placeholder="Descripción detallada del problema, colocar datos de folio, etc"
                                        rows="5"
                                        formControlName="problem"
                                        name="problem"
                                    ></textarea>
                                    <ng-container *ngIf="problem.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="problem.errors?.required"
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="problem.errors?.minlength"
                                        >
                                            Se require de una descripcion mas
                                            detallada
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="problem.errors?.maxlength"
                                        >
                                            La descripcion no debe superar 2000
                                            caracteres
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label
                                        for="errorMessage"
                                        class="label col-form-label"
                                        >Mensaje de error</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="errorMessage"
                                        [attr.disabled]="
                                            folio !== '*' ? true : null
                                        "
                                        placeholder="Copié y pegué mensaje de error de la notificacion que aparece en la seccion superior derecha"
                                        rows="5"
                                        formControlName="errorMessage"
                                        name="errorMessage"
                                    ></textarea>
                                    <ng-container *ngIf="errorMessage.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                errorMessage.errors?.required
                                            "
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                errorMessage.errors?.minlength
                                            "
                                        >
                                            Se require de una descripcion mas
                                            detallada
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="
                                                errorMessage.errors?.maxlength
                                            "
                                        >
                                            La descripcion no debe superar 2000
                                            caracteres
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label
                                        for="notes"
                                        class="label col-form-label"
                                        >Notas</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="notes"
                                        [attr.disabled]="
                                            status.value === 'FINALIZADO'
                                                ? true
                                                : null
                                        "
                                        placeholder="Agrega cualquier nota necesaria que pueda ayudar al soporte del problema."
                                        rows="5"
                                        formControlName="notes"
                                        name="notes"
                                    ></textarea>
                                    <ng-container *ngIf="notes.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="notes.errors?.required"
                                        >
                                            ¡Campo Requerido!
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="notes.errors?.minlength"
                                        >
                                            Se require de una descripcion mas
                                            detallada
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="notes.errors?.maxlength"
                                        >
                                            La descripcion no debe superar 2000
                                            caracteres
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row" *ngIf="folio != '*'">
                                <div class="col-md-12 mb-3">
                                    <label
                                        for="solution"
                                        class="label col-form-label"
                                        >Solucion del problema</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="solution"
                                        [attr.disabled]="
                                            supportView &&
                                            'FINALIZADO' !== status?.value
                                                ? null
                                                : false
                                        "
                                        rows="5"
                                        formControlName="solution"
                                        name="solution"
                                    ></textarea>
                                    <ng-container *ngIf="solution.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="solution.errors?.minlength"
                                        >
                                            Se require de una descripcion mas
                                            detallada
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="solution.errors?.maxlength"
                                        >
                                            La descripcion no debe superar 300
                                            caracteres
                                        </small>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row" *ngIf="folio != '*'">
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="agent"
                                        class="label col-form-label"
                                        >Agente soporte</label
                                    >
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="agent"
                                            [attr.disabled]="true"
                                            formControlName="agent"
                                            name="agent"
                                            name="agent"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="dueDate1"
                                        class="label col-form-label"
                                        >Fecha limite</label
                                    >
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="dueDate1"
                                            [attr.disabled]="true"
                                            formControlName="dueDate"
                                            name="dueDate"
                                            name="dueDate"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" *ngIf="folio === '*'">
                                    <label for="documentFile" class="label"
                                        >Captura pantalla o evidencia del
                                        problema</label
                                    >
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input
                                                type="file"
                                                class="custom-file-input"
                                                id="documentFile"
                                                accept=".pdf,.doc, .docx,image/*"
                                                (change)="
                                                    fileDataUploadListener(
                                                        $event
                                                    )
                                                "
                                                style="display: block"
                                                aria-describedby="inputDocFile"
                                            />
                                            <label
                                                class="custom-file-label"
                                                style="
                                                    background-color: #f7f9fc;
                                                "
                                                for="documentFile"
                                                >{{ dataFile?.fileName }}</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="clearfix">
                                <button
                                    type="submit"
                                    *ngIf="folio === '*'"
                                    [disabled]="loading || supportForm.invalid"
                                    nbButton
                                    status="primary"
                                >
                                    ENVIAR
                                </button>
                            </div>
                            <div class="row" *ngIf="folio !== '*'">
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="agent"
                                        class="label col-form-label"
                                        >Fecha Creacion</label
                                    >
                                    <div class="input-group">
                                        <strong>{{ creation.value }}</strong>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label
                                        for="dueDate1"
                                        class="label col-form-label"
                                        >Fecha actualizacion</label
                                    >
                                    <div class="input-group">
                                        <strong>{{ update.value }}</strong>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3" *ngIf="folio === '*'">
                        <strong
                            class="d-flex justify-content-between align-items-center mb-3"
                        >
                            <span class="text-muted"
                                >¿Ya cuentas con un ticket?</span
                            >
                        </strong>
                        <div class="row">
                            <div class="col-sm-10 input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Folio Ticket"
                                    [(ngModel)]="folioBusqueda"
                                    name="folioBusqueda"
                                />
                                <div class="input-group-append">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        (click)="findTicket()"
                                    >
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-sm-6 col-md-3 mb-3 text-right"
                        *ngIf="folio !== '*'"
                    >
                        <h6 class="d-inline p-2">Folio : {{ folio }}</h6>
                        <strong
                            class="d-flex justify-content-between align-items-center mb-3"
                            *ngIf="!dataFile"
                        >
                            <span class="text-muted"
                                >No hay documentos adjuntos</span
                            >
                        </strong>
                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn btn-info mt-2 ml-2 mr-2"
                                    type="button"
                                    *ngIf="dataFile"
                                    (click)="downloadFile()"
                                >
                                    Archivo adjunto &nbsp;&nbsp;
                                    <i class="fa fa-download"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn d-inline mt-2 ml-2 mr-2 btn-primary"
                                    type="button"
                                    *ngIf="
                                        status.value === 'PENDIENTE' &&
                                        supportView
                                    "
                                    (click)="takeSupport()"
                                >
                                    Tomar Soporte &nbsp;&nbsp;
                                    <i class="fa fa-cogs"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn d-inline mt-2 ml-2 mr-2 btn-warning"
                                    type="button"
                                    *ngIf="
                                        status.value === 'EN PROGRESO' &&
                                        supportView
                                    "
                                    (click)="scaleSupport(dialog)"
                                >
                                    Escalar soporte &nbsp;&nbsp;
                                    <i class="fa fa-bolt"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn d-inline mt-2 ml-2 mr-2 btn-success"
                                    type="button"
                                    *ngIf="
                                        status.value === 'EN PROGRESO' &&
                                        supportView
                                    "
                                    (click)="validateSupport()"
                                >
                                    Validar solucion &nbsp;&nbsp;
                                    <i class="fa fa-user"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn d-inline mt-2 ml-2 mr-2 btn-danger"
                                    type="button"
                                    *ngIf="
                                        status.value === 'VALIDACION' &&
                                        !adminView &&
                                        !supportView
                                    "
                                    (click)="rejectSupport()"
                                >
                                    Rechazar solucion &nbsp;&nbsp;
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button
                                    class="btn d-inline mt-2 ml-2 mr-2 btn-success"
                                    type="button"
                                    *ngIf="
                                        status.value === 'VALIDACION' &&
                                        !supportView
                                    "
                                    (click)="finalizeSupport()"
                                >
                                    Finalizar soporte &nbsp;&nbsp;
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-6">
                    <label for="agents" class="label">Agente a escalar</label>
                    <select
                        id="agents"
                        id="agents"
                        class="form-control"
                        [(ngModel)]="data.agent"
                    >
                        <option
                            *ngFor="let user of supportUsers"
                            [value]="user.email"
                        >
                            {{ user.alias }} - {{ user.email }}
                        </option>
                    </select>
                </div>
                <div class="col-5">
                    <label for="duedate" class="label"
                        >Nueva Fecha Limite</label
                    >
                    <input
                        nbInput
                        id="duedate"
                        placeholder="duedate"
                        [nbDatepicker]="dueDate"
                        fullWidth
                        style="display: block"
                        [(ngModel)]="data.dueDate"
                    />
                    <nb-datepicker #dueDate></nb-datepicker>
                </div>
            </div>
            <div class="row">
                <label for="scalereason" class="label col-form-label"
                    >Notas</label
                >
                <textarea
                    type="text"
                    class="form-control"
                    id="scalereason"
                    [(ngModel)]="data.notes"
                    placeholder="Describe la razon del escalamiento"
                    rows="2"
                    name="notes"
                ></textarea>
                <small
                    class="form-text text-danger"
                    *ngIf="data.notes.length < 10"
                >
                    Se require de una descripcion mas detallada
                </small>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-warning" (click)="ref.close(undefined)">
                Salir
            </button>
            &nbsp;&nbsp;
            <button
                class="btn btn-success"
                (click)="ref.close(data)"
                [disabled]="data.notes.length < 10"
            >
                Escalar
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>
