<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header class="puff_center">Usuario
        <!--div-- class="float-right">
          <button class="btn btn-primary" *ngIf="user.id === undefined" (click)="clearInput()"><nb-icon icon="file-remove"></nb-icon></button>
        </!--div-->
       </nb-card-header>
      
      <nb-card-body>
        <p class="alert alert-success" *ngIf="Params.success.length > 0" role="alert">{{Params.success}}</p>
        <div class="row slide_1">
          <form [formGroup]="registerForm" class="col" >
            <div class="row">
              <div class="col">
                <label for="inputCorreo" class="label">Email</label>
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="user.email"
                  placeholder="Correo Electronico" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">El correo es requerido.</div>
                  <div *ngIf="f.email.errors.email">La direccion introducida no es valida.</div>
                  <div *ngIf="f.email.errors.pattern">Hay caracteres invalidos.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="inputActivo" class="label">Activo</label>
                <select id="inputActivo" formControlName="activo" class="form-control" [(ngModel)]="user.activo" style="display:block;" 
                  fullWidth>
                  <option value="true">Si</option>
                  <option value="false">No</option>

                </select>
              </div>
              <div class="col-md-9">
                <label for="inputAlias"  class="label">Sobrenombre</label>
                <input type="text" formControlName="alias" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.alias.errors }" [(ngModel)]="user.alias"
                placeholder="Sobrenombre o alias"  />
                <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
                  <div *ngIf="f.alias.errors.required">El alias es requerido.</div>
                  <div *ngIf="f.alias.errors.minlength">Nececitas un minimo de 2 caracteres.</div> 
                  <div *ngIf="f.alias.errors.maxlength">No mas de 20 caracteres.</div>              
                  <div *ngIf="f.alias.errors.pattern">Hay caracteres invalidos.</div>
                </div>
              </div>
            </div>
       
          </form>
          <div class="col">
            <label for="InputActivo" class="label">Roles del Usuario</label>
            <div class="row form-inline">

              <table class="tg">
                <thead>
                  <tr>
                    <th class="tg-nrix">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['PROMOTOR']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'PROMOTOR')">PROMOTOR</nb-checkbox>
                    </th>
                    <th class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['TESORERIA']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'TESORERIA')">TESORERIA</nb-checkbox>
                    </th>
                    <th class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['OPERADOR']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'OPERADOR')">OPERADOR</nb-checkbox>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['CONTABILIDAD']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'CONTABILIDAD')">CONTABILIDAD</nb-checkbox>
                    </td>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['ADMINISTRADOR']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'ADMINISTRADOR')">ADMINISTRADOR</nb-checkbox>
                    </td>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['BANCOS']" [disabled]="!isAdmin" (checkedChange)="toggle($event,'BANCOS')">
                        BANCOS</nb-checkbox>
                    </td>
                  <tr>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['CONSULTOR']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'CONSULTOR')">CONSULTOR</nb-checkbox>
                    </td>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['OPERADOR-B']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'OPERADOR-B')">OPERADOR-B</nb-checkbox>
                    </td>
                    <td class="tg-0lax">
                      <nb-checkbox [(ngModel)]="rolesArrayUpdate['LEGAL']" [disabled]="!isAdmin"
                        (checkedChange)="toggle($event,'LEGAL')">LEGAL</nb-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>        
          </div>       
        </div>
        <br>

        <div class="float-right slide_2">

          <button class="btn btn-primary" *ngIf="user.id === undefined" [disabled]="this.Params.success !== ''" (click)="registry()"> Registrar</button>
          <button class="btn btn-primary" *ngIf="user.id !== undefined" [disabled]="this.actualizando == true" 
          [nbSpinner]="this.loading" nbSpinnerStatus="info" (click)="update()"> Actualizar</button>

        </div>

      <!-- </form> -->
      </nb-card-body>

    </nb-card>


  </div>
</div>