<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header class="puff_center">Empresas</nb-card-header>
      <nb-card-body>
        <div class="row">

          <div class="col-2">
            <label for="inputCompanyType" class="label">Línea Empresa</label>
            <select selected="*" id="inputCompanyType" style="display:block;" class="form-control"
              [(ngModel)]="filterParams.linea">
              <option value="*" *ngIf="module!='operaciones'">Todas</option>
              <option value="A">Tipo A</option>
              <option value="B" *ngIf="module!='operaciones'">Tipo B</option>
              <option value="C" *ngIf="module!='operaciones'">Tipo C</option>
              <option value="D" *ngIf="module!='operaciones'">Tipo D</option>
              <option value="E" *ngIf="module!='operaciones'">Tipo E</option>
              <option value="LIQUIDACIONES" *ngIf="module!='operaciones'">
                Liquidaciones
              </option>
              <option value="CEROS" *ngIf="module!='operaciones'">Ceros</option>
              <option value="PROC_LIQUIDACION" *ngIf="module!='operaciones'">
                Proc. Liquidacion
              </option>
            </select>
          </div>

          <div class="col-2">
            <label for="inputActiveCompany" class="label">Empresa Activa</label>
            <select selected="*" id="inputActiveCompany" [(ngModel)]="filterParams.activo" style="display:block;"
              class="form-control">
              <option value="*">Todas</option>
              <option value="true">ACTIVA</option>
              <option value="false">INACTIVA</option>
            </select>
          </div>
          <div class="col-2">
            <label for="inputGiros" class="label">Giro Empresa</label>
            <select selected="*" id="inputGiros" [(ngModel)]="filterParams.giro" style="display:block;"
              class="form-control">
              <option value="*">Todos</option>
              <option *ngFor="let giro of girosCat" [value]="giro.id">{{giro.nombre}}</option>
            </select>
          </div>

          <div class="col-3">
            <label for="inputRFC" class="label">RFC Empresa</label>
            <input type="text" class="form-control" fullWidth [(ngModel)]="filterParams.rfc"
              [disabled]="filterParams.razonSocial.length > 0" id="inputRFC" fullWidth placeholder="RFC empresa">
          </div>

          <div class="col-3">
            <label for="inputRazonSocial" class="label">Razón Social Empresa</label>
            <input type="text" class="form-control" fullWidth [(ngModel)]="filterParams.razonSocial"
              [disabled]="filterParams.rfc.length > 0" id="inputRazonSocial" fullWidth
              placeholder="Razon Social Empresa">
          </div>

        </div>

        <div class="row">
          <div class="col-2">
            <label for="registroPatronal" class="label">Registro Patronal</label>
            <select selected="*" id="registroPatronal" [(ngModel)]="filterParams.registroPatronal"
              style="display:block;" class="form-control">
              <option value="*">Todas</option>
              <option value="true">Con registro</option>
              <option value="false">Sin registro</option>
            </select>
          </div>

          <div class="col-2">
            <label for="representanteLegal" class="label">Representante Legal</label>
            <select selected="*" id="representanteLegal" [(ngModel)]="filterParams.representanteLegal"
              style="display:block;" class="form-control">
              <option value="*">Todas</option>
              <option value="true">Con representante</option>
              <option value="false">Sin representante</option>
            </select>
          </div>

          <div class="col-2">
            <label for="impuestoEstatal" class="label">Impuesto Estatal</label>
            <select selected="*" id="impuestoEstatal" [(ngModel)]="filterParams.impuestoEstatal" style="display:block;"
              class="form-control">
              <option value="*">Todas</option>
              <option value="true">Impuesto registrado</option>
              <option value="false">Sin Impuesto registrado</option>
            </select>
          </div>

          <div class="col-2">
            <label for="actividadSAT" class="label">Actividad SAT</label>
            <input type="text" class="form-control" fullWidth [(ngModel)]="filterParams.actividadSAT" id="actividadSAT"
              fullWidth placeholder="Actividad SAT">
          </div>

          <div class="col-2">
            <button class="btn btn-primary" style="width: 100%; margin-top: 28px;" [disabled]="loading"
              (click)="updateDataTable(0,10)">BUSCAR</button>
          </div>
          <div class="col-2" *ngIf="module=='legal' || module == 'administracion'">
            <button class="btn btn-primary" style="width: 100%; margin-top: 28px;" (click)="newCompany()">NUEVA
              EMPRESA</button>
          </div>
        </div>
        <br>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header>
        <div class="clearfix">
          <strong>Empresas</strong>
          <button type="button" *ngIf="page.empty == false" (click)="downloadHandler()"
            class="btn btn-sm btn-success float-right" [disabled]="loading">Descarga</button>
          <select id="inputunidad" style="display:block;width: 95px;margin-right: 15px;margin-left: 15px;"
            class="float-right form-control" [(ngModel)]="filterParams.size"
            *ngIf="(page.last==false || page.first==true) && page.empty == false"
            (change)="onChangePageSize($event.target.value)">
            <option value="10">10</option>
            <option *ngIf="page.number<(page.totalElements/20)" value="20">20</option>
            <option *ngIf="page.number<(page.totalElements/50)" value="50">50</option>
          </select>
        </div>
      </nb-card-header>
      <nb-card-body>

        <div *ngIf="page.empty == true" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>



        <div *ngIf="page.empty == false" class="tableFixHead">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">ACCIONES</th>
                <th scope="col">NOMBRE CORTO</th>
                <th scope="col">EMPRESA</th>
                <th scope="col">RFC</th>
                <th scope="col">DOMICILIO</th>
                <th scope="col">LINEA</th>
                <th scope="col">ACTIVA</th>
                <th scope="col">BLOQUEADA</th>
                <th scope="col">GIRO</th>
                <th scope="col">REGIMEN FISCAL</th>
                <th scope="col">PAGINA WEB</th>
                <th scope="col">CORREO ELECTRONICO</th>
                <th scope="col">ESTATUS JURIDICO</th>
                <th scope="col">ESTATUS JURIDICO FASE 2</th>
                <th scope="col">REPRESENTANTE LEGAL</th>
                <th scope="col">BANCOS</th>
                <th scope="col">CUENTAS</th>
                <th scope="col">DOMICILIO BANCOS</th>
                <th scope="col">SUCURSALES CUENTA</th>
                <th scope="col">EXPEDIENTE BANCO ACTUALIZADO</th>
                <th scope="col">EXPIRACION CERTIFICADOS</th>
                <th scope="col">ACTIVIDAD SAT</th>
                <th scope="col">REGISTRO PATRONAL</th>
                <th scope="col">ENTIDAD REGISTRO PATRONAL</th>
                <th scope="col">IMPUESTO ESTATAL</th>
                <th scope="col">ACCIONISTAS</th>
                <th scope="col">APODERADOS</th>
                <th scope="col">PENDIENTES</th>
                <th scope="col">OBSERVACIONES</th>
                <th scope="col">CREADOR</th>
                <th scope="col">CREACION</th>
                <th scope="col">ACTUALIZACION</th>
              </tr>
            </thead>
            <tbody class="overflow-auto">
              <tr *ngFor="let fila of page.content">
                <td scope="row" class="text-center">
                  <button class="btn btn-outline-primary" *ngIf="module !=='legal' && module !=='administracion'"
                    (click)="redirectToEmpresa(fila.RFC)"><i class="fa fa-search"></i></button>
                  <button class="btn btn-outline-primary" *ngIf="module ==='legal' || module ==='administracion'"
                    (click)="redirectToEmpresa(fila.RFC)"><i class="fa fa-edit"></i></button>
                </td>
                <td scope="row" class="text-uppercase">{{fila.NOMBRE_CORTO}}</td>
                <td scope="row" class="text-uppercase">{{fila.EMPRESA}}</td>
                <td scope="row" class="text-uppercase">{{fila.RFC}}</td>
                <td scope="row" class="text-uppercase">{{fila.DOMICILIO}}</td>
                <td scope="row" class="text-uppercase">{{fila.LINEA}}</td>
                <td scope="row" class="text-uppercase">{{fila.ACTIVA}}</td>
                <td scope="row" class="text-uppercase">{{fila.BLOQUEADA}}</td>
                <td scope="row" class="text-uppercase">{{fila.GIRO}}</td>
                <td scope="row" class="text-uppercase">{{fila.REGIMEN_FISCAL}}</td>
                <td scope="row" class="text-lowercase">{{fila.PAGINA_WEB}}</td>
                <td scope="row" class="text-lowercase">{{fila.CORREO_ELECTRONICO}}</td>
                <td scope="row" class="text-uppercase">{{fila.ESTATUS_JURIDICO}}</td>
                <td scope="row" class="text-uppercase">{{fila.ESTATUS_JURIDICO_FASE_2}}</td>
                <td scope="row" class="text-uppercase">{{fila.REPRESENTANTE_LEGAL}}</td>
                <td scope="row" class="text-uppercase">{{fila.BANCOS}}</td>
                <td scope="row" class="text-uppercase">{{fila.NO_CUENTA}}</td>
                <td scope="row" class="text-uppercase">{{fila.DOMICILIO_BANCOS}}</td>
                <td scope="row" class="text-uppercase">{{fila.SUCURSAL}}</td>
                <td scope="row" class="text-uppercase">{{fila.EXPEDIENTE_ACTUALIZADO}}</td>
                <td scope="row" class="text-uppercase">{{fila.EXPIRACION_CERTIFICADOS}}</td>
                <td scope="row" class="text-uppercase">{{fila.ACTIVIDAD_SAT}}</td>
                <td scope="row" class="text-uppercase">{{fila.REGISTRO_PATRONAL}}</td>
                <td scope="row" class="text-uppercase">{{fila.ENTIDAD_REGISTRO_PATRONAL}}</td>
                <td scope="row" class="text-uppercase">{{fila.IMPUESTO_ESTATAL}}</td>
                <td scope="row" class="text-uppercase">{{fila.ACCIONISTAS}}</td>
                <td scope="row" class="text-uppercase">{{fila.APODERADOS}}</td>
                <td scope="row" class="text-uppercase">{{fila.PENDIENTES}}</td>
                <td scope="row" class="text-uppercase">{{fila.OBSERVACIONES}}</td>
                <td scope="row" class="text-uppercase">{{fila.CREADOR}}</td>
                <td scope="row" class="text-uppercase">{{fila.CREACION}}</td>
                <td scope="row" class="text-uppercase">{{fila.ACTUALIZACION}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix" *ngIf="page.empty == false">
          <ul class="pagination float-right" *ngIf="page.totalElements > 1">
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(0,page.size)"><i class="nb-arrow-left"></i></button></li>
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
            <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.totalPages-1,page.size)"><i class="nb-arrow-right"></i></button></li>
          </ul>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>