
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant" class="vh-100">
    <nb-card-header>
      <div class="clearfix">
        <strong class="float-left">Devoluciones</strong>
        <strong class="float-right">Folio 123</strong>
      </div>
    </nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-2">
          <label for="inputPayCoin" class="label">Moneda</label>
          <select id="inputPayCoin" class="form-control" [ngModel]="return.moneda">
            <option value="MXN">Peso MX</option>
          </select>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <label for="inputPromotor" class="label">Nombre o correo promotor</label>
          <ng-autocomplete [data]="usersCat" [searchKeyword]="'name'"
            placeholder="Escribe el correo o alias del promotor" (selected)="selectPromotor($event)"
            [itemTemplate]="itemPromotor" [notFoundTemplate]="notFoundPromotor">
          </ng-autocomplete>

          <ng-template #itemPromotor let-item>
            <div class="item">
              <span [innerHTML]="item.name"></span>
            </div>
          </ng-template>

          <ng-template #notFoundPromotor let-notFound>
            <span>No hay coincidencias</span>
          </ng-template>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <label for="inputClients" class="label">RFC o razon social cliente</label>
          <ng-autocomplete [data]="clientsCat" [searchKeyword]="'notas'" [disabled] = "!return.promotor"
            placeholder="Escribe el RFC o razon social del cliente" (selected)="selectClient($event)"
            [itemTemplate]="itemClient" [notFoundTemplate]="notFoundClient">
          </ng-autocomplete>

          <ng-template #itemClient let-item>
            <div class="item">
              <span [innerHTML]="item.notas"></span>
            </div>
          </ng-template>

          <ng-template #notFoundClient let-notFound>
            <span>No hay coincidencias</span>
          </ng-template>
        </div>


        

        <div class="col-sm-6 col-md-6 col-lg-2">
          <button class="btn w-100" style="margin-top: 28px;" [disabled]="loading || return.clientes.length == 0" 
          [ngClass]="{'btn-primary': return.clientes.length > 0 , 'btn-secondary': return.clientes.length == 0}" (click)="searchPayments()">BUSCAR
            PAGOS</button>
        </div>
      </div>



      <br/>
       <div class="row">
          <span class="badge badge-primary mr-1 ml-1 mt-1 mb-1" *ngFor="let client of return.clientes; let i = index"><p class="d-inline text-light align-bottom"> {{client.rfc}} - {{client.razonSocial}}</p> 
            <button type="button" class="close d-inline text-light mr-1 ml-1" (click)="removeClient(i)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></span>
       </div>
      <br />
      <div class="row">
        <div class="table-responsive" *ngIf="return.pagos.length > 0">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">
                  Acciones
                </th>
                <th scope="col" class="text-center">Deposito</th>
                <th scope="col" class="text-center">Razon social empresa</th>
                <th scope="col" class="text-center">RFC empresa</th>
                <th scope="col" class="text-center">Folio</th>
                <th scope="col" class="text-center">Banco</th>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of return.pagos; let i = index">
                <td scope="row" class="text-center">
                  <button class="btn-sm btn-outline-danger mr-1 ml-1" (click)="removePayment(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td scope="row" class="text-center">
                  {{ i + 1}}
                </td>
                <td scope="row" class="text-center">{{ fila.razonSocialEmpresa }}</td>
                <td scope="row" class="text-center">{{ fila.rfcEmpresa }}</td>
                <td scope="row" class="text-center">{{ fila.folio }}</td>
                <td scope="row" class="text-center">{{ fila.banco }}</td>
                <td scope="row" class="text-center">{{ fila.fechaPago }}</td>
                <td scope="row" class="text-right">
                  {{ fila.monto | currency }}
                </td>
              </tr>
              <tr>
                <td colspan="6"></td>
                <td class="text-center">
                  <p class="font-weight-bold">Total</p>
                </td>
                <td class="text-right">
                  <strong>{{ return.total | currency }} </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <form *ngIf="return.pagos.length > 0" [formGroup]="returnForm">
      <div class="row">
        
        <div class="col-sm-12 col-md-6">
          <div class="clearfix">
            <strong class="float-left">COMISIÓN PROMOTOR</strong>
            <input type="number" class="form-control form-control-sm w-25 float-right" min="0" max="16" step="0.1" (input)="refreshAmounts($event.target.value,'PROMOTOR')"
            [ngClass]="{
              'border border-danger': promotor.invalid && (promotor.dirty || promotor.touched),
              'border border-success': promotor.valid && (promotor.dirty || promotor.touched)
            }" formControlName="promotor" id="inputPromotor">
          </div>
          <nt-detalle-devolucion type="PROMOTOR" [allowEdit]="true"></nt-detalle-devolucion>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="clearfix">
            <strong class="float-left">COMISIÓN CLIENTE</strong>
            <input type="number" class="form-control form-control-sm w-25 float-right" min="0" max="16" step="0.1" (input)="refreshAmounts($event.target.value,'CLIENTE')"
            [ngClass]="{
              'border border-danger': cliente.invalid && (cliente.dirty || cliente.touched),
              'border border-success': cliente.valid && (cliente.dirty || cliente.touched)
            }"
            formControlName="cliente" id="inputCliente">
          </div>
          <nt-detalle-devolucion type="CLIENTE"  [allowEdit]="true"></nt-detalle-devolucion>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="clearfix">
            <strong class="float-left">COMISIÓN JMM</strong>
            <strong class="float-right">{{ return.porcentajeDespacho / 100 | percent}}</strong>
          </div>
          <nt-detalle-devolucion type="DESPACHO" [allowEdit]="false"></nt-detalle-devolucion>
        </div>
        
        <div class="col-sm-12 col-md-6">
          <div class="clearfix">
            <strong class="float-left">COMISIÓN CONTACTO</strong>
            <input type="number" class="form-control form-control-sm w-25 float-right" min="0" max="16" step="0.1" (input)="refreshAmounts($event.target.value,'CONTACTO')"
            [ngClass]="{
              'border border-danger': contacto.invalid && (contacto.dirty || contacto.touched),
              'border border-success': contacto.valid && (contacto.dirty || contacto.touched)
            }"
            formControlName="contacto" id="inputContacto">
          </div>
          <nt-detalle-devolucion type="CONTACTO" [amount]="return.montoContacto" [allowEdit]="true"></nt-detalle-devolucion>
        </div>
      </div>
    </form>
    </nb-card-body>
  </nb-card>
