<div class="row">
    <div class="col-md-12">
        <nb-card
            [nbSpinner]="loading"
            nbSpinnerStatus="info"
            nbSpinnerSize="giant"
        >
            <nb-card-header class="clearfix">
                <p class="font-weight-bold float-left">Cuenta Bancaria</p>
                <button
                    type="button"
                    class="btn btn-outline-danger float-right mr-2 ml-2"
                    *ngIf="cuenta.id !== undefined"
                    (click)="delete()"
                >
                    <i class="fa fa-trash"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-outline-primary float-right mr-2 ml-2"
                    *ngIf="cuenta.rfc !== undefined"
                    (click)="goToCompany()"
                >
                    <i class="fa fa-reply"></i>
                </button>
            </nb-card-header>

            <nb-card-body>
    
                <div class="row slide_1" *ngIf="cuenta.rfc !== undefined">
                    <div class="col-6">
                        <label for="inputBanco" class="label">Banco</label>
                        <select
                            id="inputBanco"
                            style="display: block"
                            class="form-control"
                            [(ngModel)]="cuenta.banco"
                            name="banco"
                        >
                            <option value="*">Seleccionar</option>
                            <option
                                *ngFor="let bank of banksCat"
                                [value]="bank.nombre"
                            >
                                {{ bank.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="inputempresa" class="label">RFC</label>
                        <input
                            id="inputempresa"
                            class="form-control"
                            fullWidth
                            [disabled]="true"
                            type="text"
                            [(ngModel)]="cuenta.rfc"
                            fullWidth
                            placeholder="Numero de cuenta"
                        />
                    </div>
                </div>
                <div class="row slide_1" *ngIf="cuenta.rfc === undefined">
                    <div class="col-2">
                        <label for="inputBanco" class="label">Banco</label>
                        <select
                            id="inputBanco"
                            style="display: block"
                            class="form-control"
                            [(ngModel)]="cuenta.banco"
                            name="banco"
                        >
                            <option value="*">Seleccionar</option>
                            <option
                                *ngFor="let bank of banksCat"
                                [value]="bank.nombre"
                            >
                                {{ bank.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputEmisor" class="label"
                            >Línea Emisor</label
                        >
                        <select
                            id="inputEmisor"
                            fullWidth
                            class="form-control"
                            style="display: block"
                            (change)="onLineaSelection($event)"
                            [(ngModel)]="formInfo.linea"
                        >
                            <option value="A">Línea A</option>
                            <option value="B">Línea B</option>
                            <option value="C">Línea C</option>
                            <option value="D">Línea D</option>
                            <option value="E">Línea E</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputGiro" class="label"
                                >Giro Empresa</label
                            >
                            <select
                                id="inputGiro"
                                fullWidth
                                class="form-control"
                                (change)="onGiroSelection($event.target.value)"
                                style="display: block"
                                [(ngModel)]="formInfo.giro"
                            >
                                <option value="*">Seleccionar</option>
                                <option
                                    *ngFor="let giro of girosCat"
                                    [(value)]="giro.id"
                                >
                                    {{ giro.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmpresa" class="label">Empresa</label>
                        <select
                            id="inputEmpresa"
                            class="form-control"
                            (change)="onEmpresaSelected($event.target.value)"
                            [(ngModel)]="filterParams.empresa"
                            style="display: block"
                            fullWidth
                        >
                            <option value="">Seleccionar</option>
                            <option
                                *ngFor="let company of empresas"
                                [(value)]="company.rfc"
                            >
                                {{ company.rfc }}-{{ company.razonSocial }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="cuenta" class="label">N° Cuenta</label>
                        <input
                            id="cuenta"
                            class="form-control"
                            fullWidth
                            type="text"
                            [(ngModel)]="cuenta.cuenta"
                            fullWidth
                            placeholder="Numero de cuenta"
                        />
                    </div>
                    <div class="col-4">
                        <label for="clave" class="label">Clabe Bancaria</label>
                        <input
                            id="clave"
                            class="form-control"
                            fullWidth
                            type="text"
                            [(ngModel)]="cuenta.clabe"
                            fullWidth
                            placeholder="Clabe Bancaria"
                        />
                    </div>
                    <div class="col-4">
                        <label for="contract" class="label"
                            >Tipo de Contrato</label
                        >
                        <input
                            id="contract"
                            class="form-control"
                            fullWidth
                            type="text"
                            [(ngModel)]="cuenta.tipoContrato"
                            fullWidth
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="location" class="label">Sucursal</label>
                        <input
                            id="location"
                            class="form-control"
                            fullWidth
                            type="text"
                            [(ngModel)]="cuenta.sucursal"
                            fullWidth
                            placeholder="Descripcion corta sucursal"
                        />
                    </div>
                    <div class="col-6">
                        <label for="address" class="label"
                            >Domicilio Sucursal</label
                        >
                        <input
                            id="address"
                            class="form-control"
                            fullWidth
                            type="text"
                            [(ngModel)]="cuenta.domicilioBanco"
                            fullWidth
                            placeholder="Direccion de sucursal - opcional"
                        />
                    </div>
                    <div class="col-2">
                        <label for="expedienteActualizado" class="label"
                            >Expediente actualizado</label
                        >
                        <select
                            selected="NO"
                            id="registroPatronal"
                            [(ngModel)]="cuenta.expedienteActualizado"
                            style="display: block"
                            class="form-control"
                        >
                            <option value="NO">No actualizado</option>
                            <option value="SI">Actualizado</option>
                        </select>
                    </div>
                </div>

                <br />
                <p class="font-weight-bold puff_center" *ngIf="cuenta.id">
                    Documentos cuenta bancaria
                </p>

                <div class="row" *ngIf="cuenta.id">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="inputDocType" class="label"
                                    >Tipo Documento</label
                                >
                                <select
                                    selected="*"
                                    id="inputDocType"
                                    style="display: block"
                                    fullWidth
                                    class="form-control"
                                    [disabled]="cuenta.id == undefined"
                                    [(ngModel)]="formInfo.doctType"
                                >
                                    <option value="*">Seleccionar</option>
                                    <option value="CONTRATO">Contrato</option>
                                    <option value="SEGURO_AUTO">
                                        Seguro auto
                                    </option>
                                    <option value="SEGURO_VIDA">
                                        Seguro vida
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-9">
                                <label for="docFile" class="label"
                                    >Documento Relacionado</label
                                >

                                <div class="input-group">
                                    <div class="custom-file" id="documentFile">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="documentFile"
                                            [disabled]="
                                                cuenta.id == undefined ||
                                                formInfo.doctType == '*'
                                            "
                                            accept=".pdf,.xls,.xlsx,.doc, .docx,image/*"
                                            (change)="
                                                fileDataUploadListener($event)
                                            "
                                            style="display: block"
                                            aria-describedby="docFile"
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="docFile"
                                            >{{ formInfo.fileDataName }}</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="clearfix">
                            <div
                                class="row float-right"
                                style="margin-right: 1px"
                            >
                                <button
                                    type="button"
                                    (click)="fileDocumentUpload()"
                                    style="margin-left: 25px"
                                    [disabled]="
                                        cuenta.id == undefined ||
                                        dataFile.data == undefined
                                    "
                                    [ngClass]="{
                                        'btn-secondary':
                                            cuenta.id == undefined ||
                                            dataFile.data == undefined,
                                        'btn-primary':
                                            cuenta.id != undefined &&
                                            dataFile.data != undefined
                                    }"
                                    class="btn float-right"
                                >
                                    Cargar documento
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <br />
                        <br />
                        <div
                            class="puff_center"
                            *ngIf="accountDocs.length === 0"
                            class="alert alert-primary"
                            role="alert"
                        >
                            No hay documentos relacionados a la empresa
                        </div>

                        <div
                            class="table-responsive slide_1"
                            *ngIf="accountDocs.length > 0"
                        >
                            <table class="table table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center">DESCARGA</th>
                                        <th scope="col">TIPO ARCHIVO</th>
                                        <th scope="col">FECHA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fila of accountDocs">
                                        <td scope="row" class="text-center">
                                            <button
                                                class="btn d-inline btn-outline-primary"
                                                (click)="downloadFile(fila)"
                                            >
                                                <i class="fa fa-download"></i>
                                            </button>
                                        </td>
                                        <td scope="row">
                                            {{ fila.tipoArchivo }}
                                        </td>
                                        <td scope="row">
                                            {{ fila.fechaCreacion }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br />

                <div class="float-right slide_2">
                    <button
                        class="btn btn-primary"
                        *ngIf="cuenta.id === undefined"
                        [disabled]="this.Params.success !== ''"
                        (click)="registry()"
                    >
                        Registrar
                    </button>
                    <button
                        class="btn btn-primary"
                        *ngIf="cuenta.id !== undefined"
                        [disabled]="
                            this.actualizando == true || this.clear == true
                        "
                        [nbSpinner]="this.loading"
                        nbSpinnerStatus="info"
                        (click)="update()"
                    >
                        Actualizar
                    </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
